@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-ExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmegaVN-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmegaVN-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmegaVN-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmegaVN-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "BROmega";
  src: url("./assets/fonts/BROmega-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
